<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850317390978-rjre320j3kjmn5g6bcdsmug8tpvmv9an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850317390978-rjre320j3kjmn5g6bcdsmug8tpvmv9an</string>
	<key>API_KEY</key>
	<string>AIzaSyAvCjDzvM8SaJ-FBVG0E93Ap9UwOKEigS8</string>
	<key>GCM_SENDER_ID</key>
	<string>850317390978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.com.monash.BigBrother</string>
	<key>PROJECT_ID</key>
	<string>facial-rekognition</string>
	<key>STORAGE_BUCKET</key>
	<string>facial-rekognition.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:850317390978:ios:cf303b4834191985fe309b</string>
	<key>DATABASE_URL</key>
	<string>https://facial-rekognition.firebaseio.com</string>
</dict>
</plist>
